<h1>Zodiac signs</h1>
<h3>Aries</h3>
<p><span>Element: Fire</span></p>
<p><span>Modality: Cardinal</span></p>
<p><span>Ruling planet: Mars</span></p>
<ul>
  <span>
  <li><span>No filter</span></li>
  <li><span>Gets angry, then forgets why they were angry</span></li>
  <li><span>Thinks everything is a game they can win</span></li>
  <li><span>Will do anything on a dare</span></li>
  <li><span>Easily bored</span></li>
  </span>
</ul>
<h3>Taurus</h3>
<p><span>Element: Earth</span></p>
<p><span>Modality: Fixed</span></p>
<p><span>Ruling planet: Venus</span></p>
<ul>
  <li><span>Just wants to cuddle</span></li>
  <li><span>Homebody</span></li>
  <li><span>All or nothing, no in between</span></li>
  <li><span>Wears the same outfit everyday</span></li>
  <li><span>Hates big changes</span></li>
</ul>
<h3>Gemini</h3>
<p><span>Element: Air</span></p>
<p><span>Modality: Mutable</span></p>
<p><span>Ruling planet: Mercury</span></p>
<ul>
  <li><span>Charismatic</span></li>
  <li><span>Uses humor as a crutch</span></li>
  <li><span>Could talk to a brick wall</span></li>
  <li><span>Arguments as flirting</span></li>
  <li><span>Knows a little about everything</span></li>
</ul>
<h3>Cancer</h3>
<p><span></span></p>
<p><span></span></p>
<p><span></span></p>
<ul>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
</ul>
<h3>Leo</h3>
<p><span></span></p>
<p><span></span></p>
<p><span></span></p>
<ul>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
</ul>
<h3>Virgo</h3>
<p><span></span></p>
<p><span></span></p>
<p><span></span></p>
<ul>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
</ul>
<h3>Libra</h3>
<p><span></span></p>
<p><span></span></p>
<p><span></span></p>
<ul>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
</ul>
<h3>Scorpio</h3>
<p><span></span></p>
<p><span></span></p>
<p><span></span></p>
<ul>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
</ul>
<h3>Sagittarius</h3>
<p><span></span></p>
<p><span></span></p>
<p><span></span></p>
<ul>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
</ul>
<h3>Capricorn</h3>
<p><span></span></p>
<p><span></span></p>
<p><span></span></p>
<ul>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
</ul>
<h3>Aquarius</h3>
<p><span></span></p>
<p><span></span></p>
<p><span></span></p>
<ul>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
</ul>
<h3>Pisces</h3>
<p><span></span></p>
<p><span></span></p>
<p><span></span></p>
<ul>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
</ul>
