<!DOCTYPE html>
<html lang="en">
<head>
  <title>Zodiac signs</title>
</head>
<body>
  <h1>Zodiac signs</h1>
  <h3>Aries</h3>
  <p><span>Element: Fire</span></p>
  <p><span>Modality: Cardinal</span></p>
  <p><span>Ruling planet: Mars</span></p>
  <ul>
    <span>
    <li><span>No filter</span></li>
    <li><span>Gets angry, then forgets why they were angry</span></li>
    <li><span>Thinks everything is a game they can win</span></li>
    <li><span>Will do anything on a dare</span></li>
    <li><span>Easily bored</span></li>
    </span>
  </ul>
  <h3>Taurus</h3>
  <p><span>Element: Earth</span></p>
  <p><span>Modality: Fixed</span></p>
  <p><span>Ruling planet: Venus</span></p>
  <ul>
    <li><span>Just wants to cuddle</span></li>
    <li><span>Homebody</span></li>
    <li><span>All or nothing, no in between</span></li>
    <li><span>Wears the same outfit everyday</span></li>
    <li><span>Hates big changes</span></li>
  </ul>
  <h3>Gemini</h3>
  <p><span>Element: Air</span></p>
  <p><span>Modality: Mutable</span></p>
  <p><span>Ruling planet: Mercury</span></p>
  <ul>
    <li><span>Charismatic</span></li>
    <li><span>Uses humor as a crutch</span></li>
    <li><span>Could talk to a brick wall</span></li>
    <li><span>Arguments as flirting</span></li>
    <li><span>Knows a little about everything</span></li>
  </ul>
  <h3>Cancer</h3>
  <p><span>Element: Water</span></p>
  <p><span>Modality: Cardinal</span></p>
  <p><span>Ruling planet: The Moon</span></p>
  <ul>
    <li><span>Very sensitive</span></li>
    <li><span>Seeks comfort</span></li>
    <li><span>Forgives but never forgets</span></li>
    <li><span>Only has one boundary, but it is very firm</span></li>
    <li><span>Takes on other people’s problems</span></li>
  </ul>
  <h3>Leo</h3>
  <p><span>Element: Fire</span></p>
  <p><span>Modality: Fixed</span></p>
  <p><span>Ruling planet: The Sun</span></p>
  <ul>
    <li><span>Exudes warmth and creativity</span>
    </li>
    <li><span>A little bit vain</span></li>
    <li><span>Really big personality</span></li>
    <li><span>Wants to stand out</span></li>
    <li><span>Interested in luxury</span></li>
  </ul>
  <h3>Virgo</h3>
  <p><span>Element: Earth</span></p>
  <p><span>Modality: Mutable</span></p>
  <p><span>Ruling planet: Mercury</span></p>
  <ul>
    <li><span>Needs to feel useful</span></li>
    <li><span>Has a quick fix for everything</span></li>
    <li><span>Judgmental, but with good intentions</span></li>
    <li><span>Exceptional spatial awareness</span></li>
    <li><span></span>A million ideas per second</li>
  </ul>
  <h3>Libra</h3>
  <p><span>Element: Air</span></p>
  <p><span>Modality: Cardinal</span></p>
  <p><span>Ruling planet: Venus</span></p>
  <ul>
    <li><span>Hates being alone</span></li>
    <li><span>Really good aesthetics</span></li>
    <li><span>Conflict avoidant</span></li>
    <li><span>Sees every side</span></li>
    <li><span>Prone to fantasy</span></li>
    <li><span>Can’t make decisions</span></li>
  </ul>
  <h3>Scorpio</h3>
  <p><span>Element: Water</span></p>
  <p><span>Modality: Fixed</span></p>
  <p><span>Ruling planet: Pluto</span></p>
  <ul>
    <li><span>Primary emotion is betrayal</span></li>
    <li><span>Looks cool in a leather jacket</span></li>
    <li><span>OK with uncomfortable silence</span></li>
    <li><span>Can’t be sure if they’re serious or joking</span></li>
    <li><span>Eyes that look into your soul</span></li>
  </ul>
  <h3>Sagittarius</h3>
  <p><span>Element: Fire</span></p>
  <p><span>Modality: Mutable</span></p>
  <p><span>Ruling planet: Jupiter</span></p>
  <ul>
    <li><span>No indoor voice</span></li>
    <li><span>Forms opinions off of pure emotion</span></li>
    <li><span>Obsessed with self-improvement</span></li>
    <li><span>Wields their truth like a blunt weapon</span></li>
    <li><span>Friendliest person at the party</span></li>
  </ul>
  <h3>Capricorn</h3>
  <p><span>Element: Earth</span></p>
  <p><span>Modality: Cardinal</span></p>
  <p><span>Ruling planet: Saturn</span></p>
  <ul>
    <li><span>Full grown adult since age six</span></li>
    <li><span>The responsible friend</span></li>
    <li><span>Motivated by duty</span></li>
    <li><span>Takes a while to warm up to people</span></li>
    <li><span>Represses any emotion that gets in the way of success</span></li>
  </ul>
  <h3>Aquarius</h3>
  <p><span>Element: Air</span></p>
  <p><span>Modality: Fixed</span></p>
  <p><span>Ruling planet: Uranus</span></p>
  <ul>
    <li><span>Purposefully esoteric</span></li>
    <li><span>Doesn’t ‘do’ feelings, just concepts</span></li>
    <li><span>Actually believes in conspiracy theories</span></li>
    <li><span>More in love with humanity as a whole than individuals</span></li>
    <li><span>Always feels like an outcast</span></li>
    <li><span>Fetishizes personal freedom</span></li>
  </ul>
  <h3>Pisces</h3>
  <p><span>Element: Water</span></p>
  <p><span>Modality: Mutable</span></p>
  <p><span>Ruling planet: Neptune</span></p>
  <ul>
    <li><span>Somehow both 5 and 50 years old at once</span></li>
    <li><span>Thinks everything is a sign</span></li>
    <li><span>Can’t remember if they dreamt it or it actually happened</span></li>
    <li><span>Excessively romantic</span></li>
    <li><span>Prone to fantasy</span></li>
    <li><span>No boundaries</span></li>
  </ul>
</body>
</html>
