/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

body {
  color: #001d3d;
  background-color: #d9dbf11a;
}

p {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}

p span {
  color: #003566;
}

li span {
  color: #003566;
}

h3 {
  font-style: italic;
  margin: 5px;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

input.invalid {
    border-color: red;
}
