<!DOCTYPE html >
<html lang="en">
<head>
  <title>Planets</title>
</head>
<body>
  <h1>Planets</h1>
  <h3>The sun</h3>
  <p><span>ego, creativity</span></p>
  <p>
    <span>
      The sun is not technically a planet (it’s a star), but because it’s a luminary body within our solar system, it plays a similarly influential role within the astrological
      sphere as the planets do. In fact, it has perhaps the broadest impact on your overarching personality—as its location in the sky at the time when you were born determines
      your sun sign, or the zodiac sign you’d typically read in a horoscope.
      “The sun determines how you shine your light in this world,” says Lang. “It’s your creative spark and sense of vitality.” While you can get more insight into how its influence
      manifests in your life based on the sign it was in when you were born—it transits into a new sign each month—you might also consider the astrological house it was in, too.
      This can offer some insight on the main arena of life (e.g., career, family, travel, etc.) in which your essential purpose will be lived out.
    </span>
  </p>
  <h3>The moon</h3>
  <p><span>emotion</span></p>
  <p>
    <span>
      The moon is also not a planet by scientific measures—but in astrology, it functions similarly as an influential celestial body. In this case, it reflects our emotions, senses,
      instincts, intuition, and unconscious selves, says Lang. Often, the sign that the moon was in when you were born reflects a certain internal identity that could differ
      from the surface-level personality picture painted by your sun sign. “It shows us how we best nurture and nourish ourselves through self care,” adds Lang.
      Because the moon moves quickly (changing signs every two to three days), it’s key to know the precise time when and location where you were born in order to identify your moon sign correctly.
    </span>
  </p>
  <h3>Mercury</h3>
  <p><span>communication</span></p>
  <p>
    <span>
      Mercury is the planet of intellect, communication, and internal dialogue, says Lang. The reason it tends to have a particularly strong influence over us is because it’s (almost always) the closest planet to Earth in our solar system. Fittingly,
      the word “mercurial” is used to describe someone lively, volatile, and given to quick changes of mood, after the Roman god of commerce for whom the planet was named.
      The sign of Mercury in your chart can determine how you analyze, process, and communicate information (and the planet moves into a new sign every three to four weeks).
      “It symbolizes how we order our lives through routines, daily practices, and habits,” says Lang.
    </span>
  </p>
  <h3>Venus</h3>
  <p><span>love and relationships</span></p>
  <p>
    <span>
      “At its core, Venus deals with our self-worth,” says Lang. “Its power relates to how we experience pleasure, our urge for partnership, our ability to mediate conflict, and our social graces.”
      This is why knowing a partner’s Venus sign (aka the sign that the planet was in when they were born) can be the key to unlocking how they prefer to be loved.
      The planet moves into a new sign every four to five weeks.
      Venus also rules over our finances, which relates back to the theme of self-worth, and how we like to be and feel valued. “She’s also all things beauty and harmony,” says Lang,
      so there’s a strong correlation between our Venus sign and our sense of style when it comes to the arts and fashion.
    </span>
  </p>
  <h3>Mars</h3>
  <p><span>physical energy</span></p>
  <p>
    <span>
      Fiery and energetic (fittingly, the planetary ruler for Aries), Mars represents our physical drive, which is why determining the sign in which
      your Mars falls can offer some insight into a workout regiment that’ll work best for your body.
      For example, someone with their Mars in Cancer might prefer the mind-body-connection elements of yoga, whereas someone with Mars in Gemini
      could enjoy changing it up with a rotating set of high-intensity cardio classes. And because of its connection to the physical and its association with energy and passion,
      Mars is also the planet that rules over our sexual needs. It moves into a new sign every six to seven weeks.
    </span>
  </p>
  <h3>Jupiter</h3>
  <p><span>luck</span></p>
  <p>
    <span>
      As the biggest planet in our solar system, Jupiter contains multitudes, making its overarching role and influence a bit nebulous to nail down.
      Generally, it’s the planet most closely related to our faiths, beliefs, and philosophies, and it’s linked to luck and fate. “Ultimately,
      Jupiter wants us to follow whatever excites us the most and what brings up the most enthusiasm, the most joy, and the most passion,” Lang previously told Well+Good.
      It’s also the planet of adventure, adds Lang, and it shows us how we can experience expansion in our lives and grow our horizons, either through travel,
      higher education, or something else entirely, based on the sign it was in when you were born. It moves into a new sign every two to three years.
    </span>
  </p>
  <h3>Saturn</h3>
  <p><span>structure</span></p>
  <p>
    <span>
      The sky’s structural taskmaster, Saturn is often understood in astrology in reference to Saturn return—which is when the planet returns to the position it was in when you were born,
      sometime in your late twenties, essentially thrusting you firmly into adulthood. The big milestones or life shifts typical of this time can drum up larger esoteric questions
      about purpose and identity, which often come alongside growing pains.
      “Saturn reflects our perceived limitations, authority figures, commitments, responsibilities, structure, and hard work,” says Lang. That’s also why knowing
      your Saturn sign can help illuminate your biggest challenge in life, and provide some guidance on how to best overcome it. It moves into a new sign every two to three years.
    </span>
  </p>
  <h3>Uranus</h3>
  <p><span>innovation</span></p>
  <p>
    <span>
      Innovation, science, and technology are the name of the game when it comes to Uranus, which is considered one of the modern planets,
      as it was discovered in 1781, long after the systems of astrology and astronomy had been established. As a driver of change and evolution,
      its influence lies in contrast to Saturn’s rigidity and structure, which is part of why the current Saturn-Uranus square is so disruptive.
      Because Uranus is far from Earth and takes about seven years to move between signs, its influence is more generational than individual.
    </span>
  </p>
  <h3>Neptune</h3>
  <p><span>inspiration</span></p>
  <p>
    <span>
      This faraway planet deals with our ideals, dreams, and mystical inclinations (you’ll be unsurprised to learn that it’s the ruler of Pisces).
      And when it shifts into a retrograde transit, as it did at the end of last year, it can call to mind questions of truth versus illusion and lead you in search
      of complete honesty from yourself and your loved ones.
      Similar to Uranus, it takes a long time to move between signs—about 10 to 12 years—making its influence more broadly a generational one. “Neptune is connected
      to the sense of oneness we may feel in deep meditation,” adds Lang, “and it’s also related to drugs, caffeine, alcohol, and any other mind-altering substances.”
    </span>
  </p>
  <h3>Pluto</h3>
  <p><span>rebirth</span></p>
  <p>
    <span>
      While it may not be scientifically classified as a planet anymore, Pluto plays a similar role within the astrology space—in this case ruling over regenerative forces in the body,
      death, and rebirth, says Lang: “It relates to the deep psychological aspect of ourselves and the unconscious.”
      Like the other outer planets, it is slow-moving from Earth’s perspective, shifting into a new sign only about every 12 to 15 years.
      As such, its influence is also generational, more so than individual. Currently, Pluto is retrograde in Capricorn (the sign known for its industriousness and pragmatism),
      meaning it’s a time of practical transformation and moving forward for all.
    </span>
  </p>
</body>
</html>
