<!DOCTYPE html >
<html lang="en">
<head>
  <title>Planets</title>
</head>
<body>
  <h1>Planets</h1>
  <h3>The sun</h3>
  <p><span>ego, creativity</span></p>
  <h3>The moon</h3>
  <p><span>emotion</span></p>
  <h3>Mercury</h3>
  <p><span>communication</span></p>
  <h3>Venus</h3>
  <p><span>love and relationships</span></p>
  <h3>Mars</h3>
  <p><span>physical energy</span></p>
  <h3>Jupiter</h3>
  <p><span>luck</span></p>
  <h3>Saturn</h3>
  <p><span>structure</span></p>
  <h3>Uranus</h3>
  <p><span>innovation</span></p>
  <h3>Neptune</h3>
  <p><span>inspiration</span></p>
  <h3>Pluto</h3>
  <p><span>rebirth</span></p>
</body>
</html>
