<h1>Houses</h1>
<h3>First House</h3>
<p><span>The House Of Self</span></p>
<h3>Second House</h3>
<p><span>The House Of Finances & Value</span></p>
<h3>Third House</h3>
<p><span>The House Of Communication</span></p>
<h3>Fourth House</h3>
<p><span>The House Of Home</span></p>
<h3>Fifth House</h3>
<p><span>The House Of Pleasure & Creativity</span></p>
<h3>Sixth House</h3>
<p><span>The House Of Health & Service</span></p>
<h3>Seventh House</h3>
<p><span>The House Of Partnerships</span></p>
<h3>Eighth House</h3>
<p><span>The House Of Sex & Transformation</span></p>
<h3>Ninth House</h3>
<p><span>The House Of Big Ideas</span></p>
<h3>Tenth House</h3>
<p><span>The House Of Public Image</span></p>
<h3>Eleventh House</h3>
<p><span>The House Of Community & Friends</span></p>
<h3>Twelfth House</h3>
<p><span>The House Of Subconscious & Secrets</span></p>
